[user]
	name = Simeon Pashley
	email = simeon@pashley.org

[alias]
   up = "!git remote update -p; git merge --ff-only @{u}"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    st = status
    sts = status -sb
    unstage = reset HEAD --
    prs

[apply]
  whitespace = nowarn

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
	autocrlf = false
  quotepath = false
  editor = vim
  ignorecase = false
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = red
	changed = blue
	untracked = green

[credential]
  helper = osxkeychain

[merge]
    summary = true

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
	remote = origin
	merge = refs/heads/master
[help]
    autocorrect = 10
[include]
    path = ~/.gitconfig.local
[interactive]
    singlekey = true
[push]
    default = upstream
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[diff]
  tool = meld
[difftool]
    prompt = false
[difftool "meld"]
  cmd = meld \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
		# cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[commit]
	gpgSign = false
